.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
}

.imageAndText {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: self-end;
    color: #ffffff;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 8px 13px;
    margin-right: 10px;
    background-color: #0066cc;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 4px 4px 0 4px;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 12px;
    border-color: transparent transparent transparent #0066cc;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.name {
    margin-bottom: 3px;
    align-self: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}