.friendMessage {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.friendImageAndText {
    margin-bottom: 5px;
    display: flex;
    align-items: self-end;
    color: #000000;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 50%;
    padding: 8px 13px;
    border-radius: 4px 4px 4px 0;
    background-color: #F5F7FB;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 15px, rgba(245,247,251,1) 0);
}

.friendName {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendMessageText {
    word-break: break-word;
    white-space: break-spaces;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
