.container {
}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    display: inline-block;
    width: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
